<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
  <style>
    body,
    h1 {
      font-family: "Raleway", sans-serif
    }

    body,
    html {
      height: 100%
    }

    .india-img {
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://cdn.pixabay.com/photo/2019/03/12/20/19/india-4051753_1280.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;

    }

    .dubai-img {
      background: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://cdn.pixabay.com/photo/2017/04/08/10/42/burj-khalifa-2212978_1280.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }

    .usa-img {
      background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(0, 0, 0, .5)), url('https://cdn.pixabay.com/photo/2016/11/23/15/32/pedestrians-1853552_1280.jpg');
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }

    body {
      background-color: #333;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    header,
    footer {
      width: 100%;
      text-align: center;
    }

    nav {
      background-color: #000;
      display: block;
      padding: 1em 0;
      text-align: center;
      width: 100%;
    }

    nav a {
      color: #fff;
      margin: 0 1em;
      text-decoration: none;
    }

    .scrolling-box {
      background-color: #eaeaea;
      display: block;
      height: 100%;
      overflow-y: scroll;
      scroll-behavior: smooth;
      text-align: center;
      width: 100%;
    }

    section {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
  </style>
</head>

<body>

  {{> 'partials/header' }}
  {{embed}}
  {{> 'partials/footer' }}

</body>

</html>